/*
  SYNOPSIS:
    (from witin project rooot directory)
      sassc scss/main.scss public/css/style.css
*/

$primary-font-color : #61686b;
$border-color : #e5e5e5;
$link-color : #5ba4e5;

$font-size-primary : 14px;
$font-size-bigger : 16px;

$selected-item-background : #F5F7F8;

// 5E5E5E

body {
  font: $font-size-primary "Open Sans", Helvetica, Arial, sans-serif;
  color: $primary-font-color;
}

a {
  color: $link-color;
}

/*
  Add special class to remove default buttom space
*/
.no-bottom-space {
  margin-bottom: 0px;
}

/*
  Increase space between form groups so they are more prominent
*/
.form-group {
  margin-bottom: 20px;
}
/*
  Make help blocks in forms to be more distinguishable
 */
.form-group .help-block {
  font-style: italic;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

label.label-plain {
  font-weight: normal;
}

/* Make breadcrumbs to be transparant */
.breadcrumb {
  background: none;
  padding-right: 0;
  padding-left: 0;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */

.footer {
  margin-top  : 20px;
  padding-top : 20px;
  border-top  : 1px solid $border-color;
}

.header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
}


/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

/* styling calendar*/

div.month_container {
    height : 250px;
}
.calendar_month {
    width : 100%;
}
.calendar_month td {
    width          : 15px !important;
    min-width      : 15px !important;
    max-width      : 15px !important;
    position       : relative;
    text-align     : center;
    padding-top    : 5px;
    padding-bottom : 5px;
}
.calendar_month td span {
    position   : relative;
    left       : 10px;
    top        : -1px;
    display    : block;
    text-align : center;
    z-index : 10;
}
td.current_day_cell {
  background: #e25440;
  color : #ffffff;
}
td.weekend_cell {
    background: $selected-item-background;
}
td.bank_holiday_cell {
    background : #31B0D5;
    color : #ffffff;
}
td.leave_cell {
    background : #9fbb58;
    color : #ffffff;
}
td.leave_cell_pended {
  background: #FFCBA4;
  color: $primary-font-color;
}
.modal-dialog {
    max-width : 450px;
}
.team-view-users td {
    padding-top    : 5px;
    padding-bottom : 5px;
}
td.team-view-header {
    height: 43px;
}


.main-row_header {  /* TODO refactore */
  border: none;
  font-weight: normal;
  color: $link-color;
  letter-spacing: -0.01em;
  font-size: 19px;
  line-height: 1.15em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}



/* Feeds */
.feed-calendar-big {
  font-size: 450px;
  color: #F8F8F8;
}

.feed-calendar-big-picture-holder {
  text-align: center;
}

p.description-paragraph {
  padding-top: 20px;
  padding-left: 15px;
}

div.feeds-holder {
  margin-top: 20px;
}


/* Calendars */
.top-leave-type-statistics {
  text-align: center;
}
.top-leave-type-statistics dt {
  font-size: 75px;
  color: $primary-font-color;
  font-weight: 100;
  border-bottom  : 1px solid $border-color;
  margin-bottom : 20px;
}
.top-leave-type-statistics dd {
  font-size: $font-size-bigger;
}


.secondary-leave-type-statistics {
  font-size : $font-size-bigger;
}
.secondary-leave-type-statistics dt {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom  : 1px solid $border-color;
}
.secondary-leave-type-statistics dd {
  padding-left: 10px;
  padding-right: 10px;
}


.calendar-section-caption {
  text-align: center;
  font-size: 1.2em;
}


.setting-general-2nd-column {
  padding-left: 30px;
}

.label.bigger {
  font-size: large;
}

/* Fix for issue with modal scrollings on mobiles */
@media (max-width: 768px) {
  body.modal-open { position: fixed; }
}

/* To be used for selected items in lists */
.selected-item {
  background : $selected-item-background;
  font-weight: bolder;
}

