
<div class="modal fade" id="add_secondary_supervisers_modal" tabindex="-1" role="dialog" aria-labelledby="add_secondary_supervisers_modal_la">
  <div class="modal-dialog" role="document">
    <form action="/settings/departments/edit/{{ department.id }}/" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_confirmation_reject_la">Add supervisors to <strong></strong> department</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" name="do_add_supervisers" value="1">Add selected employees</button>
      </div>
    </div>
    </form>
  </div>
</div>

