


<div class="modal fade" id="{{container_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="leave_type_new_form" method="POST" action="{{form_action}}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new Leave Type</h4>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="leave_type_name_new" class="control-label">Name:</label>
          <input type="text" class="form-control" id="leave_type_name_new" name="name__new" required>
        </div>

        <div class="form-group">
          <input type="checkbox" id="leave_type_use_allovance_new" name="use_allowance__new">&nbsp;
          <label for="leave_type_use_allovance_new" class="control-label">Use allowance</label>
          <p><em>If checked leaves of this type are going to be counted towards employee's annual holiday allowance.</em></p>
        </div>

        <div class="form-group">
          <div class="dropdown" data-tom-color-picker="1">
            <input type="hidden" name="color__new" value="leave_type_color_1">
            <button type="button" class="btn btn-default dropdown-toggle leave_type_color_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i> Pick up color for new type</button>
            <ul class="dropdown-menu">
              {{> options_for_color_picker}}
            </ul>
          </div>
          <p><em>Determine how leaves of new type are going to be highlighted on Calendar/Team view pages.</em></p>
        </div>



        <div class="form-group">
          <label for="leave_type_limit_new" class="control-label">Limit:</label>
          <input type="number" class="form-control" id="leave_type_limit_new" name="limit__new">
          <p><em>If set to non-zero value determines maximum number of days of new leave type each employee could take during the year.</em></p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success single-click">Create</button>
      </div>
    </form>
    </div>
  </div>
</div>


