<footer class="footer custom-footer">
  <p>
    &copy; <a href="timeoff.management">TimeOff.management</a> 2015
    <span class="pull-right">
      <a href="https://github.com/vpp/timeoff-management"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://twitter.com/FreeTimeOffApp"><i class="fa fa-twitter fa-lg"></i></a>
    </span>
  </p>
</footer>
