
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://timeoff.management">TimeOff.management</a> 2018</span>
    <span class="pull-right">
    </span>
  </p>
</footer>
