
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://timeoff.management">TimeOff.management</a> 2014-2019</span>
    <span class="pull-right">
      <a href="//github.com/timeoff-management/application"><i class="fa fa-github fa-lg"></i></a>
      <a href="//twitter.com/FreeTimeOffApp"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="mailto:pavlo@timeoff.management"><i class="fa fa-envelope fa-lg"></i></a>
    </span>
  </p>
</footer>
