
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">OnceHub 2014-2019</span>
  </p>
</footer>
