<div class="header">



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Time Off Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{# if session.passport.user }}
            <li class="active"><a href="/">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/settings/company/">Company</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Leave allowances</a></li>
                <li><a href="#">Leave types</a></li>
                <li><a href="#">Bank hollidays</a></li>
                <li class="divider"></li>
                <li><a href="#">Billining</a></li>
              </ul>
            </li>
        {{/if}}
        <li>
            <li>
            {{# if session.passport.user }}
                <a href="/logout/">Logout</a>
            {{else}}
                <a href="/login/">Login</a>
            {{/if}}
            </li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<!--
<nav>
  <ul class="nav nav-pills pull-right">

    {{# if session.passport.user }}
        <li role="presentation"><a href="/logout/">Logout</a></li>
    {{else}}
        <li role="presentation"><a href="/login/">Login</a></li>
    {{/if}}

  </ul>
</nav>
<h3 class="text-muted"><a href="/">Time Off Manager</a></h3>
-->

</div>   


