<div class="header">
<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation" {{# if footer_helper.is_home }} class="active"{{/if}}><a href="{{ footer_helper.get_home_url }}">Home</a></li>
    <li role="presentation" {{# if footer_helper.is_catalogue }} class="active" {{/if}} ><a href="{{ footer_helper.get_catalogue_url }}">Catalogue</a></li>
    <li role="presentation" {{# if footer_helper.is_contact_us }} class="active" {{/if}}><a href="{{ footer_helper.get_contact_us_url }}">Contact</a></li>
  </ul>
</nav>
<h3 class="text-muted">Corner shop</h3>
</div>   


