<div class="header">
<nav>
  <ul class="nav nav-pills pull-right">

    {{# if session.passport.user }}
        <li role="presentation"><a href="/">Dashboard</a></li>
        <li role="presentation"><a href="/logout/">Logout</a></li>
    {{else}}
        <li role="presentation"><a href="/register/">Sign up</a></li>
        <li role="presentation"><a href="/login/">Login</a></li>
    {{/if}}

  </ul>
</nav>
<h3 class="text-muted">Time Off Manager</h3>
</div>   


