Confirm registration on TimeOff.Management
=====
<p>Hello {{name}},</p>

<p>To complete your registration process in TimeOff.Management please click on the following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
