New leave was added
=====
<p>Hello <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Your new leave <strong>{{>leave_request_detail leave=leave }}</strong> was added and auto approved.</p>

{{> email/leave_comments comments=comments }}

<p>Thanks</p>
