
<div class="col-md-9">

  <form method="POST" action="/settings/schedule" id="company_schedule_form">
  <input type="hidden" name="user_id" value="{{employee.id}}">




  <div class="form-group">
    <label for="" class="control-label">Schedule</label>

    <p class="help-block">
      {{# with schedule }}
      {{# if (is_user_specific) }}
        Current employee has <strong data-vpp="declare-user-specific-schedule">custom</strong> schedule.
      {{else}}
        Current employee uses <strong><a data-vpp="link-to-company-schedule" href="/settings/general/">company wide</a></strong> schedule.
      {{/if}}
      {{/with}}
    </p>

    <div class="input-group">
      <div class="btn-group" data-toggle="buttons">
        {{#with schedule}}
        <label class="btn btn-default {{# if (works_monday   ) }} active{{/if }} " id="schedule_item_monday">    <input name ="monday"    type="checkbox" autocomplete="off" {{# if (works_monday   ) }} checked {{/if }} >Mon</label>
        <label class="btn btn-default {{# if (works_tuesday  ) }} active{{/if }} " id="schedule_item_tuesday">   <input name ="tuesday"   type="checkbox" autocomplete="off" {{# if (works_tuesday  ) }} checked {{/if }} >Tue</label>
        <label class="btn btn-default {{# if (works_wednesday) }} active{{/if }} " id="schedule_item_wednesday"> <input name ="wednesday" type="checkbox" autocomplete="off" {{# if (works_wednesday) }} checked {{/if }} >Wed</label>
        <label class="btn btn-default {{# if (works_thursday ) }} active{{/if }} " id="schedule_item_thursday">  <input name ="thursday"  type="checkbox" autocomplete="off" {{# if (works_thursday ) }} checked {{/if }} >Thu</label>
        <label class="btn btn-default {{# if (works_friday   ) }} active{{/if }} " id="schedule_item_friday">    <input name ="friday"    type="checkbox" autocomplete="off" {{# if (works_friday   ) }} checked {{/if }} >Fri</label>
        <label class="btn btn-default {{# if (works_saturday ) }} active{{/if }} " id="schedule_item_saturday">  <input name ="saturday"  type="checkbox" autocomplete="off" {{# if (works_saturday ) }} checked {{/if }} >Sat</label>
        <label class="btn btn-default {{# if (works_sunday   ) }} active{{/if }} " id="schedule_item_sunday">    <input name ="sunday"    type="checkbox" autocomplete="off" {{# if (works_sunday   ) }} checked {{/if }} >Sun</label>
        {{/ with }}
      </div>
    </div>


  </div>
  <div class="form-group">
    <div class="pull-right">
    {{# with schedule }}
    {{# if (is_user_specific) }}
      <button type="submit" name="revoke_user_specific_schedule" class="btn btn-default">Move employee to company wide schedule</button>
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Save employee specific schedule</button>
    {{else}}
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Override company wide schedule</button>
    {{/if}}
    {{/with}}
    </div>
  </div>
  </form>

</div>
