Confirm registration on TimeOff.Management
=====
<p>Hello {{name}},</p>

<p>To complete registration process in TimeOff.Management please click on following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
