Reset password for TimeOff.Management
=====
{{# with user ~}}
<p>Hello <strong>{{this.name}}</strong>,</p>

<p>Somebody just requested a reset password link for your account at {{> email/link href=(get_application_domain) text='TimeOff.Management' }}</p>

{{# if company.ldap_auth_enabled }}
<p>The company your account belongs to uses LDAP authentication so we cannot reset
password for you.</p>

<p>Please contact your system administrator in order to reset the password in Active directory server.</p>

{{ else }}
<p>
  Please follow link below to proceed further:

  {{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Request reset password' }}
</p>
{{/if}}

{{~/ with}}

<p>Thanks</p>
