Leave was revoked and auto approved
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} cancelled</strong> leave request <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>There is no need to perform any actions regarding this leave.</p>

<p>Thanks</p>
