Leave was revoked
=====
<p>Hello <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Your leave <strong>{{>leave_request_detail leave=leave }}</strong> was successfully revoked.</p>

<p>Thanks</p>
