<h3>Wniosek urlopowy</h3>

<p>Dzień dobry,</p>

<p>Proszę o udzielenie mi urlopu w dniach {{>leave_request_detail leave=leave }}.</p>

<p>Pozdrawiam</p>
{{#with requester}}{{this.full_name}}{{/with}}

<p>{{> email/link href=(concatenate (get_application_domain) '/requests/' ) text='Zobacz'}}</p>
