Cancel leave request
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} cancelled</strong> leave request <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>No actions are needed.</p>

<p>Thanks</p>
