Leave request decision is made
=====
<p>Hello <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

<p>You just processed {{#if was_pended_revoke}}cancellation of {{/if}}leave request {{>leave_request_detail leave=leave }} for {{#with requester}}{{this.full_name}}{{/with}}: to {{action}}.</p>

<p>Thanks</p>
