Registration completed
=====
<p>Hello <strong>{{user.name}}</strong>,</p>

<p>Thank you for registering new account on {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Thanks</p>
