Reset password for TimeOff.Management
=====
{{# with user ~}}
<p>Hello <strong>{{this.name}}</strong>,</p>

<p>Your password for {{> email/link href=(get_application_domain) text='TimeOff.Management' }} was successfully changed.</p>

{{~/ with }}

<p>Thanks</p>
