
{{> header }}

<h1>{{employee.name}} {{employee.lastname}}'s calendar</h1>

<div class="row">
    <div class="col-md-3">Employee calendar</div>
    <form id="book_time_off_frm" method="POST" action="">
    <div class="col-md-3 col-md-offset-6">
        <button type="submit" class="pull-right btn btn-info" id="book_time_off_btn">Book time off</button>
    </div>
    </form>
</div>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> 2014</a></li>
    <span>January - December 2015</span>

    <li class="next disabled"><a href="#">2016 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

<div class="row clearfix">

    {{# each calendar}}
    <div class="col-md-3 month_container">
        <table class="calendar_month">
        <thead>
        <tr>
            <td colspan="14">{{ this.month }}</td>
        </tr>
        <tr>
            <td colspan="2">M</td>
            <td colspan="2">T</td>
            <td colspan="2">W</td>
            <td colspan="2">T</td>
            <td colspan="2">F</td>
            <td colspan="2">S</td>
            <td colspan="2">S</td>
        </tr>
        </thead>
        <tbody>
        {{#each this.weeks }}
        <tr>
            {{#each this}}
            <td class="half_1st {{#if this.is_bank_holiday}}bank_holiday_cell{{/if}} {{#if this.is_weekend}}weekend_cell{{/if}}"><span>{{this.val}}</span></td>
            <td class="half_2nd {{#if this.is_bank_holiday}}bank_holiday_cell{{/if}} {{#if this.is_weekend}}weekend_cell{{/if}}"></td>
            {{/each}}
        </tr>
        {{/each}}
 
        </tbody></table>
    </div>
    {{/each}}

</div>


{{> footer }}
