
{{> header }}

<h1>Company</h1>

<p>Company settings</p>

{{> show_flash_messages }}

<form class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="input_company_name" class="col-sm-2 control-label">Company name</label>
    <div class="col-sm-10">
      <input class="form-control" id="input_company_name" placeholder="Our company name" value="{{company.name}}" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="input_country" class="col-sm-2 control-label">Country</label>
    <div class="col-sm-10">
      <input class="form-control" id="input_country" value="{{company.country}}" name="country">
    </div>
  </div>
  <div class="form-group">
    <label for="input_year_starts" class="col-sm-2 control-label">Year starts on</label>
    <div class="col-sm-10">
      <input class="form-control" id="input_year_starts" value="{{company.start_of_new_year}}" name="year_starts">
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save changes</button>
    </div>
  </div>
</form>

{{> footer }}
