
{{> header }}

<h1>{{department.name}} details</h1>

<form method="post" action="/settings/departments/delete/{{ department.id }}/">
  <div class="row">
    <div class="col-md-3 lead">
      Department details
    </div>
    <div class="col-md-1 col-md-offset-8">
      <button id="remove_btn" type="submit" class="pull-right btn btn-danger single-click" data-toggle="tooltip" data-placement="top" title="Remove department"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
</form>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<div class="col-md-3 list-group">
  <a href="/settings/departments/edit/{{department.id}}/" class="list-group-item selected-item">General details</a>
  <a href="/users/?department={{ department.id }}" class="list-group-item">Employees from department</a>
</div>


{{> department_details/general }}

<div class="row">&nbsp;</div>

{{> footer }}
