
{{> header }}

<h1>My feeds</h1>

{{> show_flash_messages }}

<div class="row">
    <div class="col-md-3">My feeds</div>
    <div class="col-md-3 col-md-offset-6">
    </div>
</div>

<div class="row">&nbsp;</div>

{{> footer }}
