
{{> header }}

<h1>Forgot password</h1>

{{> show_flash_messages }}

<form class="form-horizontal" action="/forgot-password/" method="post">

  <div class="row">&nbsp;</div>

  <div class="form-group">
    <label for="email_inp" class="col-md-2 control-label col-md-offset-2">Employee email:</label>
    <div class="col-md-5">
      <input class="form-control" id="email_inp" type="text" name="email">
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-4 col-md-2">
      <button type="submit" class="btn btn-success" id="submit_login">Send instructions</button>
    </div>
  </div>

</form>

<div class="row">&nbsp;</div>

{{> footer }}
