
{{> header }}

<div class="jumbotron">
<h1>Checkout JavaScript</h1>
<p class="lead">This simple website aims to checkout how comfortable is JavaScript to develop full stack applications.</p>
<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
<div class="col-lg-6">
  <h4>Web framework</h4>
  <p>Have a try of Node.js/Express.js bundle. Check if it is similar to Dancer as it claims to be.</p>

  <h4>Templating</h4>
  <p>Check out template engines for JS. Are they mature? Consider Hadlebars.js. Explore layouts, partials, datastructures rendering.</p>

  <h4>ORM</h4>
  <p>Checkout out how hard is data modeling in JS world. Try to find something similar to DBIx::Class and build simple model layer. Try to use relational database as a storage: consider SQLite.</p>
</div>

<div class="col-lg-6">
  <h4>Testing</h4>
  <p>Explore testing technics with tools available for JavaScript stack. Have a try of pure unit tests as well as integration tests.</p>

  <h4>Session managment</h4>
  <p>How user sessions are handled within node/express application, explore not only simplest approaches such as inmemory sessions but also some more complex appraches backed by proper data sotrage. Consider using SQLite.</p>

  <h4>Emails</h4>
  <p>Check how to deal with emails from within applicatio: how to build emails based on templates and send them.</p>
</div>
</div>

{{> footer }}
