body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  background-color: #eeeeee;
  /*border-bottom: 1px solid #e5e5e5;*/
}

.custom-footer {
    bottom: -20px;
    width: 100%;
    margin-top: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 25px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


div.month_container {
    height : 250px;
}
.calendar_month {
    width : 100%;
}
.calendar_month td {
    width          : 15px !important;
    min-width      : 15px !important;
    max-width      : 15px !important;
    position       : relative;
    text-align     : center;
    padding-top    : 5px;
    padding-bottom : 5px;
}
.calendar_month td span {
    position   : relative;
    left       : 10px;
    top        : -1px;
    display    : block;
    text-align : center;
    z-index : 10;
}

td.weekend_cell {
    background : #F8F8F8;
}

td.bank_holiday_cell {
    background : #31B0D5;
    color : white;
}

td.leave_cell {
    background : #449D44;
    color : white;
}

td.leave_cell_pended {
    background : #B839F8;
    color : white;
}
.modal-dialog {
    width : 450px;
}
.wallchart_users td {
    padding-top    : 5px;
    padding-bottom : 5px;
}
td.wallchart-header {
    height: 43px;
}
body > div.container {
  min-height: 700px;
  position: relative;
}

.custom-footer {
    width: 100%;
    margin-top: 10px;
}


.header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
}
.footer {
    padding: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


.row-header {
  font-size: 14px;
  padding-top: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #e5e5e5;

}

.content-rows {
 border: 1px solid #e5e5e5;
 padding: 10px;
 padding-bottom: 20px;
}

.main-row_header {
    margin: 0 0 0;
    border: none;
    font-weight: normal;
    color: #5ba4e5;
    letter-spacing: -0.01em;
    font-size: 19px;
    line-height: 1.15em;
    text-align: left;
}



.row {
    margin-right: -5px;
    margin-left: -15px;
}

h1 {
  text-align: left;
  font:"Open Sans",sans-serif;
  font-size: 3.5rem;
  line-height: 30px;
  color: #7d878a;
  padding: 0px;
}
