body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#333333;
}

a {
  color: #00B7FF;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  background-color: #eeeeee;
  border-radius: 2px;

  padding-right: 15px;
  padding-left: 15px;
  /*border-bottom: 1px solid #e5e5e5;*/
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */

.custom-footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
}


/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-right: 0;
  padding-left: 0;
}
/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

/* styling calendar*/

div.month_container {
    height : 250px;
}
.calendar_month {
    width : 100%;
}
.calendar_month td {
    width          : 15px !important;
    min-width      : 15px !important;
    max-width      : 15px !important;
    position       : relative;
    text-align     : center;
    padding-top    : 5px;
    padding-bottom : 5px;
}
.calendar_month td span {
    position   : relative;
    left       : 10px;
    top        : -1px;
    display    : block;
    text-align : center;
    z-index : 10;
}
td.weekend_cell {
    background : #F8F8F8;
}
td.bank_holiday_cell {
    background : #31B0D5;
    color : white;
}
td.leave_cell {
    background : #449D44;
    color : white;
}
td.leave_cell_pended {
    background: #FFCBA4;
    color: black;
}
.modal-dialog {
    width : 450px;
}
.wallchart_users td {
    padding-top    : 5px;
    padding-bottom : 5px;
}
td.wallchart-header {
    height: 43px;
}

body > div.container {
  min-height: 700px;
  position: relative;
}

/* styling requests.hbs and users.hbs*/

.row-header {
  font-size: 15px;
  padding-top: 10px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #F8F8F8;
  height: 40px;
  padding-left: 5px;
}

.content-rows {
  padding-bottom: 20px;
}

.main-row_header {
  border: none;
  font-weight: normal;
  color: #5ba4e5;
  letter-spacing: -0.01em;
  font-size: 19px;
  line-height: 1.15em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row-requests {
  margin-right: -5px;
  margin-left: -15px;
  padding-left: 5px;
}

h1 {
  text-align: left;
  font:"Open Sans",sans-serif;
  font-size: 2.8rem;
  line-height: 30px;
  color: #333333;
  padding: 0px;
}

.p#departments {
  font-size: 20px;
}

ul {
 list-style-type: none;
 text-align: left;
 padding-left: 5px;
}

p.specific {
  font-size: 15px;
  padding-top: 10px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  height: 40px;
  padding-left: 5px;
}

a {
  color: #5ba4e5;
}

.content {
  font-size: 15px;
}

.container-requests {
  padding-bottom: 5px;
}

/* styling users in users.hsb*/

.subtitle-row {
  text-align: left;
  font:"Open Sans",sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 0px;;
}

.row-users {
  padding-left: 5px;
}





