body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  color: #61686b;
/*  color: #7d878a; */
}

a {
  color: #5ba4e5;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */

.footer {
    margin-top: 20px;
    padding-top: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
}


/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-right: 0;
  padding-left: 0;
}
/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

/* styling calendar*/

div.month_container {
    height : 250px;
}
.calendar_month {
    width : 100%;
}
.calendar_month td {
    width          : 15px !important;
    min-width      : 15px !important;
    max-width      : 15px !important;
    position       : relative;
    text-align     : center;
    padding-top    : 5px;
    padding-bottom : 5px;
}
.calendar_month td span {
    position   : relative;
    left       : 10px;
    top        : -1px;
    display    : block;
    text-align : center;
    z-index : 10;
}
td.current_day_cell {
  background: #e25440;
  color : #ffffff;
}
td.weekend_cell {
    background: #E3EDF2;
}
td.bank_holiday_cell {
    background : #31B0D5;
    color : #ffffff;
}
td.leave_cell {
    background : #9fbb58;
    color : #ffffff;
}
td.leave_cell_pended {
    background: #FFCBA4;
    color: black;
}
.modal-dialog {
    max-width : 450px;
}
.team-view-users td {
    padding-top    : 5px;
    padding-bottom : 5px;
}
td.team-view-header {
    height: 43px;
}

body > div.container {
  min-height: 700px;
  position: relative;
}

/* styling requests.hbs and users.hbs*/

.row-header {
  font-size: 15px;
  padding-top: 10px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #F8F8F8;
  height: 40px;
  padding-left: 5px;
}

.content-rows {
  padding-bottom: 20px;
}

.main-row_header {
  border: none;
  font-weight: normal;
  color: #5ba4e5;
  letter-spacing: -0.01em;
  font-size: 19px;
  line-height: 1.15em;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row-requests {
  margin-right: -5px;
  margin-left: -15px;
  padding-left: 5px;
}

h1 {
  text-align: left;
  font:"Open Sans",sans-serif;
  font-size: 2.8rem;
  line-height: 30px;
  color: #333333;
  padding: 0px;
}

.p#departments {
  font-size: 20px;
}

ul {
 list-style-type: none;
 text-align: left;
 padding-left: 5px;
}

p.specific {
  font-size: 15px;
  padding-top: 10px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #F5F5F5;
  height: 40px;
  padding-left: 5px;
}

a {
  color: #5ba4e5;
}

.content {
  font-size: 15px;
}

.container-requests {
  padding-bottom: 5px;
}

/* styling users in users.hsb*/

.subtitle-row {
  text-align: left;
  font:"Open Sans",sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 0px;;
}

.row-users {
  padding-left: 5px;
}


.feed-calendar-big {
  font-size: 450px;
  color: #F8F8F8;
}

.feed-calendar-big-picture-holder {
  text-align: center;
}

p.description-paragraph {
  padding-top: 20px;
  padding-left: 15px;
}

div.feeds-holder {
  margin-top: 20px;
}

div.feeds-holder .well {
  background-color: #F5F5F5;
}


.top-leave-type-statistics {
  text-align: center;
}
.top-leave-type-statistics dt {
  font-size: 75px;
  color: #5E5E5E;
  font-weight: 100;
}
.top-leave-type-statistics dd {
  font-size: 20px;
}

.calendar-section-caption {
  text-align: center;
}

.setting-general-2nd-column {
  padding-left: 30px;
}

.label.bigger {
  font-size: large;
}

/* Fix for issue with modal scrollings on mobiles */
@media (max-width: 768px) {
  body.modal-open { position: fixed; }
}
