
{{> header }}

<h1>Reports</h1>

<div class="row">
  <div class="col-md-6 lead">List of available reports</div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/allowancebytime/">Allowance usage by time <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>

{{> footer }}
