apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: timeoff
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: timeoff
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 70
