name: DEPLOY_Dev_tiemoff

on:
  push:
    branches: main

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        token_format: 'access_token'
        workload_identity_provider: 'principalSet://iam.googleapis.com/projects/448231748581/locations/global/workloadIdentityPools/github-actions/*'
        service_account: 'svc-github-actions@big-liberty-373120.iam.gserviceaccount.com'

    - name: Login to GCR
      uses: docker/login-action@v2
      with:
        registry: gcr.io
        username: oauth2accesstoken
        password: ${{ steps.auth.outputs.access_token }}